.md-header {
    background: #3848b0 !important;
}

.md-footer {
    background: #3848b0 !important;
}

.md-footer-meta {
    display: none;
}

.md-nav__link:hover {
    color:#3848b0 !important;
}

.md-nav__link--active {
    font-weight: bold;
    color:#3848b0 !important;
}

h1 {
    font-weight: bold !important;
}



.dark-mode-image {
    display: none;
  }
  
  .light-mode-image {
    display: block;
  }
  
  body[data-md-color-scheme="slate"] .dark-mode-image {
    display: block;
  }
  
  body[data-md-color-scheme="slate"] .light-mode-image {
    display: none;
  }

.grid.cards li {
border-radius: 10px !important;
overflow: hidden !important;
align-items: center !important;
}


.grid img {
    max-width: 35px; /* Adjust size as needed */
    height: auto;
  }

.kubernetes {
  color: #326ce5;
}

.gcp {
  color: #4285F4;
}

.docker {
  color: #0db7ed;
}

.azure {
  color: #008AD7;
}

.python {
  color: #ffde57;
}

.shell {
  color: #32a84a;
}

.sql {
  color: #F29111;
}

.html {
  color: #e34c26;
}

.graphql {
  color: #f4447c
}

.css {
  color: #264de4
}

.argo {
  color: #de794f
}

.tf {
  color: #8040C9
}

.gha {
  color: #327cf8
}

.md-tabs {
  background-color: #3848b0;
}

.green-icon {
  color: #3848b0;
}

.custom-link {
  color: #3848b0 !important; 
  text-decoration: none;
}
.custom-link:hover {
  color: #4e5cb4 !important;
  text-decoration: underline;
}

.md-button {
  background-color: #3848b0 !important;
  color: white !important;
  border: 0px !important;
}

.md-button:hover {
  background-color: #4e5cb4 !important;
  color: white !important;
  border: 0px !important;
}

.md-ellipsis {
  font-size: 25px !important;
}

.md-tabs__link {
  font-size: 17px !important;
}

p {
  font-size: 18px !important;
}

img {
  width: 300px !important;
}

.md-typeset img {
  max-width: 100% !important;
  height: auto;
}

.grid-small {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
  gap: 8px !important;
}

/* Styles for the second grid with smaller images */
.grid-small img {
  width: 100%;            /* Images will fill their container */
  max-width: 200px !important;       /* Adjust as desired for small images */
  height: auto;
  display: block;
  margin: 0 auto;
}