.md-header {
    background: #008975 !important;
}

.md-footer {
    background: #008975 !important;
}

.md-footer-meta {
    display: none;
}

.md-nav__link:hover {
    color:#00BF9A !important;
}

.md-nav__link--active {
    font-weight: bold;
    color:#008975 !important;
}

h1 {
    font-style: bold !important;
}

h2 {
    font-weight: bold !important;
}

.dark-mode-image {
    display: none;
  }
  
  .light-mode-image {
    display: block;
  }
  
  body[data-md-color-scheme="slate"] .dark-mode-image {
    display: block;
  }
  
  body[data-md-color-scheme="slate"] .light-mode-image {
    display: none;
  }

.grid.cards li {
border-radius: 10px !important;
overflow: hidden !important;
align-items: center !important;
}


.grid img {
    max-width: 35px; /* Adjust size as needed */
    height: auto;
  }
  